{% extends "base.html" %}
{% block titulo %}
Agenda de Contactos
{% endblock %}

{% block contenido %}

<h1 class="animate__animated animate__fadeInDown mt-3">Hola, {{ user.username }}</h1>

<!-- Botón para agregar contacto -->
<a href="{{ url_for('agenda_add') }}">
    <button class="btn btn-primary my-3">
        <i class="bi bi-person-plus-fill"></i> Agregar Contacto
    </button>
</a>

<!-- Tabla de contactos -->
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Género</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for t in agendas %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.nombre }}</td>
            <td>{{ t.apellido }}</td>
            <td>{{ t.direccion }}</td>
            <td>{{ t.telefono }}</td>
            <td>{{ t.correo }}</td>
            <td>{{ t.genero }}</td>
            <td>
                <a href="{{ url_for('agenda_update', id=t.id) }}" class="btn btn-success btn-sm">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="{{ url_for('agenda_delete', id=t.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar este contacto?')">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}